:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey: #10100e;
  --color-yellow: #ffff00;

  --spacing-medium: 20px;

  --border-radius-small: 3px;

  --font-size-header: 26px;

  --font-family-main: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-grey);
  font-family: var(--font-family-main);
}
